# Data Science Tools and Ecosystem

#### In this notebook, Data Science Tools and Ecosystem are summarized.

Objectives:
List popular languages for Data Science
- Python
- R
- SQL
- Scala
- Java

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL
4. Scala
5. Java
6. C++
7. Julia

Some of the commonly used libraries used by Data Scientists include:
1. Weka
2. Java-ML
3. Apache MLlib
4. Deeplearning4.

|Data Science Tools|
|:----------------:|
|Apache Spark|
|TensorFLow|
|RStudio|
|SAS|

### Below are a few examples of evaluating arithmetic expressions in Python

$$
a_1+b_2=c_3
$$
$$
a^2+b^2=c^2
$$
$$
{\pi}*R^2
$$
$$
2*{\pi}*R
$$

In [4]:
#This a simple arithmetic expression to mutiply then add integers:
(3*4)+5

17

In [5]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Mihail Zaharciuc
Author